@import "~bootstrap/scss/bootstrap";
// mapbox-gl isn't scss, but the compiler seems OK with it anyway
@import "~mapbox-gl/dist/mapbox-gl";

#map {
    padding-top: 5px;
    height: 68vh;
}

.info {
    padding-top: 10px;
}

.mapboxgl-popup-content {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #08427D !important;
    border-color: #08427D !important;
    color: #FBA917 !important;
}
